.sidenav-container {
  height: 100vh;
  background: #f8f9fa;
}

/* SIDEBAR */
.sidenav {
  width: 13%;
  background: white;
  border-right: 1px solid #e0e0e0;
  box-sizing: border-box;
  margin: 0;
}

.sidebar-header {
  padding: 24px 20px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  background: #4976b5 !important;
  position: relative;
}

.sidebar-header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

/* LANGUAGE SELECTOR */
.language-selector {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.lang-button {
  color: white !important;
  display: flex;
  align-items: center;
  gap: 4px;
}

.flag-icon {
  font-size: 24px;
  line-height: 1;
}

::ng-deep .mat-mdc-menu-panel {
  min-width: 180px !important;
}

::ng-deep .mat-mdc-menu-item {
  display: flex !important;
  align-items: center !important;
  gap: 12px !important;
}

::ng-deep .mat-mdc-menu-item .flag-icon {
  font-size: 20px;
}

::ng-deep .mat-mdc-menu-item.active-lang {
  background-color: #e3f2fd;
  color: #1976d2;
  font-weight: 500;
}

::ng-deep .mat-mdc-menu-item .check-icon {
  margin-left: auto;
  color: #1976d2;
  font-size: 20px;
}

/* NAVIGATION LIST */
::ng-deep .mat-mdc-list {
  padding-top: 16px;
}

::ng-deep .mat-mdc-list-item {
  height: 56px !important;
  margin: 4px 12px;
  border-radius: 8px;
  color: #616161;
  font-size: 15px;
  transition: all 0.2s ease;
  box-sizing: border-box;
  margin: 5%;
  width: 90%;
  padding-left: 10px;
}

::ng-deep .mat-mdc-list-item:hover {
  background-color: #f5f5f5;
  color: #424242;
}

/* Aktivna stavka */
::ng-deep .mat-mdc-list-item.active {
  background-color: #e3f2fd;
  color: #1976d2;
  font-weight: 500;
}

::ng-deep .mat-mdc-list-item.active .mat-icon {
  color: #1976d2;
}

/* Ikone u sidebaru */
::ng-deep .mat-mdc-list-item .mat-icon {
  color: #757575;
  margin-right: 16px;
}

::ng-deep .mat-mdc-list-item:hover .mat-icon {
  color: #424242;
}

/* Divider */
::ng-deep mat-divider {
  margin: 16px 12px;
}

/* GLAVNI SADRŽAJ */
.main-content {
  background: #f8f9fa;
  overflow-x: hidden;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
}
